[submodule "Source/ThirdParty/websocketpp"]
	path = Source/ThirdParty/websocketpp
	url = https://github.com/getnamo/websocketpp
[submodule "Source/ThirdParty/rapidjson"]
	path = Source/ThirdParty/rapidjson
	url = https://github.com/getnamo/rapidjson
